<h2>New order</h2>
<div class="mb-2">
  <label for="cat" class="form-label">Category</label>
  <select name="cat" id="cat" [(ngModel)]="selectedCatID" class="form-control">
    <option value="0">All</option>
    <option [value]="cat.id" *ngFor="let cat of catList">{{cat.name}}</option>
  </select>


</div>
<!-- For test categories -->
<!-- <div class="bg-danger">
<h2>For test: to be removed</h2>
Selected category id in parent : {{selectedCatID}}
</div> -->
<!--  -->
<div class="mb-2">
  <label for="">Client Name:</label>
  <input type="text" #clientName class="form-control">
</div>
<!-- product child component -->
<app-products [receivedCatID]="selectedCatID" (totalPriceChanged)="onTotalPriceChanged($event)"></app-products>

<h2>Total order price: {{receivedOrderTotalPrice}}</h2>


<!-- For test viewchild  -->
<!-- <div class="bg-info">
    <h2>For test: to be removed</h2>
    <button class="btn btn-primary"(click)="getNewArr()">Test viewchild changes</button>

</div> -->
