<!-- From Interface -->
<!-- Interpolation -->
<!-- ? => check if object null or not -->
<!-- can't read property -->
<h1>
    Store name: {{storeinfo?.name}}
</h1>

<!-- Interpolation -->
<!-- <img src="{{storeinfo.coverImgUrl}}" alt=""> -->


<!-- Property binding -->
<!-- Structural Directive => *ngIf ="condition" -->
<img *ngIf="showImg" [src]="storeinfo.coverImgUrl">


<!-- Loop => for of -->
<!-- Structural Directive -->
<!--*ngFor  -->
<ul>
    <li *ngFor="let loc of storeinfo.branches">
        {{loc}}
    </li>
</ul>

<!-- Event binding -->
<button class="btn btn-primary" role="button" (click)="toggleImg()"> Show/hide Img</button>


<!-- Data from class -->
<h1> From class : {{info.name}}</h1>


<div class="mb-3">
    <!-- one way bind => [value]="property" -->
    <label for="">Enter your feedback: </label>
    <!-- <input type="text" class="form-control" name="fback" id="fback" [value]="customerFeedback"> -->
    <input type="text" class="form-control" name="fback" id="fback" [(ngModel)]="customerFeedback">

</div>
For test: {{customerFeedback}}





